{
    "main": "index.js",
    "build": {
        "copy": {
            "src/mainview/index.html": "mainview/index.html",
            "src/mainview/index.css": "mainview/index.css"
        },
        "bundle": {
            "src/mainview/index.ts": {
                "outdir": "mainview/",
                "minify": true,
                "target": "browser"
            },
            "src/index.ts": {     
                "outdir": "",                  
                "target": "bun"
            }
        }
    }
}