{    
    "build": {
        "bun": {
            "entrypoint": "src/bun/index.ts",
            "external": []            
        },       
        "views": {
            "mainview": {
                "entrypoint": "src/mainview/index.ts",
                "external": []                          
            },
            "myextension": {
                "entrypoint": "src/myextension/preload.ts",
                "external": []                          
            }
        },
        "copy": {
            "src/mainview/index.html": "views/mainview/index.html",
            "src/mainview/index.css": "views/mainview/index.css"
        }       
    }
}