.DS_Store
**/target
**/zig-cache
**/zig-out
node_modules
build
/package/vendors
/package/src/extractor/.zig-cache
/package/src/launcher/.zig-cache
.zig-cache
.colab.json
dist
.cache
/package/bin/electrobun
/package/bin/electrobun.exe
electrobun-cef*
electrobun-core*
electrobun-cli*
dist-*
/package/src/cli/templates/embedded.ts
*.tar.gz
/package/bin/electrobun.cjs
