.DS_Store
**/target
**/zig-cache
**/zig-out
node_modules
build
/vendors
/src/extractor/.zig-cache
/src/launcher/.zig-cache
.zig-cache
.colab.json
dist
.cache
bin/electrobun
bin/electrobun.exe
electrobun-cef*
electrobun-core*
electrobun-cli*
dist-*
src/cli/templates/embedded.ts
*.tar.gz
bin/electrobun.cjs
