* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	overflow: hidden;
	background: transparent;
	user-select: none;
	-webkit-user-select: none;
}

.scene {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	perspective: 800px;
}

.bunny {
	position: relative;
	transform-style: preserve-3d;
	will-change: transform;
}

.bunny img {
	width: 50vmin;
	height: auto;
}

.bunny img:last-child {
	position: relative;
	filter:
		drop-shadow(2px 0 0 rgba(0, 0, 0, 0.5))
		drop-shadow(-2px 0 0 rgba(0, 0, 0, 0.5))
		drop-shadow(0 2px 0 rgba(0, 0, 0, 0.5))
		drop-shadow(0 -2px 0 rgba(0, 0, 0, 0.5));
}
