{
    "app": {
        "name": "hello-world",
        "identifier": "helloworld.electrobun.dev",
        "version": "0.0.1"
    },
    "build": {
        "mac": {           
          "bundleCEF": true            
        },
        "linux": {
            "bundleCEF": true
        },
        "win": {
            "bundleCEF": true
        }
    },
}