{    
    "app": {
        "name": "Electrobun (Playground)",
        "identifier": "dev.electrobun.playground",
        "version": "0.0.1"
    },
    "build": {
        "bun": {
            "entrypoint": "src/bun/index.ts",
            "external": []            
        },       
        "views": {
            "mainview": {
                "entrypoint": "src/mainview/index.ts",
                "external": []                          
            },
            "myextension": {
                "entrypoint": "src/myextension/preload.ts",
                "external": []                          
            },
            "webviewtag": {
                "entrypoint": "src/webviewtag/index.ts",
                "external": []                          
            }
            
        },
        "copy": {
            "src/mainview/index.html": "views/mainview/index.html",
            "src/mainview/index.css": "views/mainview/index.css",
            "src/webviewtag/index.html": "views/webviewtag/index.html",
            "src/webviewtag/electrobun.png": "views/webviewtag/electrobun.png",
            "assets/electrobun-logo-32-template.png": "views/assets/electrobun-logo-32-template.png"
        },
        "mac": {
            "codesign": true,
            "notarize": true,
            "bundleCEF": true,
            "entitlements": {

            }
        },
        "linux": {
            "bundleCEF": true
        }        
    },
    "scripts": {
        "postBuild": "./buildScript.ts"
    },
    "release": {
        "bucketUrl": "https://static.electrobun.dev/playground/"
    }
}